/* External font : Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Default Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size : 1.65rem;
}

h2 {
    font-size: 1.55rem;
}

h3 {
    font-size: 1.45rem;
}

h4 {
    font-size: 1.35rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.15rem;
}
.row{
    --bs-gutter-x: 0 !important;
}
